body {
  text-align: center;
  background: #ecf0f1;
  font-family: Arial;
}

form {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #27ae60;
  color: white;
  cursor: pointer;
  border: none;
}

a {
  font-size: 18px;
  color: #2980b9;
}